<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>Discover {{loaded.nama}}</p>
    <ion-searchbar placeholder="Find out Your Destination"></ion-searchbar>
    <p>By Provinces</p>
    <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let prov of prov">
            <ion-card *ngIf="prov.pulauId === loaded.pulauId" [routerLink]="['./',prov.provId]">
                <ion-card-content>
                    <ion-img [src]="prov.imageUrl"> </ion-img>
                    {{prov.nama}}
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <p>Popular Attraction</p>
    <p>See Beauty on Another Island</p>
</ion-content>