<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home/./."></ion-back-button>
        </ion-buttons>
        <ion-title>Local Foods </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <img src="https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2018/09/makanan-khas-Aceh-1-Tokopedia.jpg">
        </ion-item>
        <ion-item>
            <ion-label>Mie Aceh</ion-label>
            <ion-button fill="outline" slot="end">Location</ion-button>
        </ion-item>

        <ion-card-content>
            Salah satu ikon makanan khas Aceh yang paling tersohor adalah Mie Aceh.
            Disajikan dalam dua varian, yaitu digoreng dan juga menggunakan kuah,
            kuliner tradisional Aceh ini dilengkapi dengan berbagai pilihan topping
            mulai dari kepiting, daging sapi, dan juga seafood.
        </ion-card-content>
    </ion-card>

</ion-content>